* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 0vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 100%;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
